<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="${msg}"></div>
<div th:text="${tag}"></div>
<input type="text" th:value="${msg}">
<a th:href="@{https://cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png}">
    超链接</a>
<a th:href="@{tag}">controller跳转</a>
<img th:src="${'https://123p3.sogoucdn.com/imgu/2018/04/20180404144123_595.png'}"/>

<div th:each="m,iterStat : ${list}">
    <div th:text="${m.name}"></div>
    <span th:text="'index:'+${iterStat.index}"></span>
    <span th:text="${'count:'+iterStat.count}"></span>
    <span th:text="'current：'+${iterStat.current}"></span>
    <span th:text="${'odd:'+iterStat.odd}"></span>
    <span th:text="${'even:'+iterStat.even}"></span>
    <span th:text="${'size:'+iterStat.size}"></span>
</div>
</body>
</html>