<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.niit.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.niit.entity.SysUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.niit.entity.SysUser">
    insert into sys_user (user_id, pass_word, user_name
      )
    values (#{userId,jdbcType=INTEGER}, #{passWord,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.niit.entity.SysUser">
    update sys_user
    set pass_word = #{passWord,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, pass_word, user_name
    from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, pass_word, user_name
    from sys_user
  </select>
  <resultMap id="BaseResultMap" type="cn.niit.entity.SysUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.niit.entity.SysUser">
    insert into sys_user (user_id, pass_word, user_name
      )
    values (#{userId,jdbcType=INTEGER}, #{passWord,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.niit.entity.SysUser">
    update sys_user
    set pass_word = #{passWord,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, pass_word, user_name
    from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, pass_word, user_name
    from sys_user
  </select>
</mapper>